/*Foter*/

footer {
    margin-right: 7.5rem;
    background-color: #316099;
    color: #FFFFFF;
    border-top-right-radius: 12.5rem;
    
    h2 {
        color: #FFFFFF;
        font-size: 2.3rem;
        line-height: 1.5; 
    }

    p {
        color: #FFFFFF;
        opacity: 0.6;
        font-size: 1rem;
        padding-top: 1.9rem;  
    }

    .section-footer {
        display: flex;
        justify-content: space-between;  
        
        .foot {
            padding: 6.3rem 12.5rem 3.1rem 12.5rem;
        }
    }

    .footer-button {
        padding: 9.4rem 9.4rem 7.5rem;

        .button {
            display: inline-block;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1rem;
            background: #5A98D0;
            padding: 1.3rem 3.1rem;
            border-radius: 0.6rem;
        }
    }  
}








  


