/*Header*/

header {
    
    div {
        display: flex;
        justify-content: space-between;

        figure {
            padding-left: 4.4rem;
            margin-top: 3.1rem;
            margin-bottom: 2.5rem;
        }
    }
}







